streamlit
speechrecognition
PyPDF2
fpdf
python-dotenv
langchain
openai
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-openai
torch==2.7.0+cpu
torchvision==0.22.0+cpu
torchaudio==2.7.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

